<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css">

    
    <title>VueJS Alternative</title>
</head>
<body>
    <div class="header">
        <p>Player Database</p>
    </div>
    <div class="main">
        <div class="form">
            <form action="">
                <input id="in-player" type="text">
                <div class="btn" @click="addPlayer()">Add Player</div>
            </form>
        </div>
        <div class="list" v-if="a_players.length > 0">
            <ul>
                <li v-for="p in a_players">{{ p }}</li>
            </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>